@page "/Musicas/Generos"
@inject MusicaAPI musicaAPI
@inject ArtistaAPI artistaAPI

<h3>Musicas por genero</h3>

<div class="px-5 py-5">
  <MudStack Class="mt-4 mb-4" Row="true" Justify="Justify.SpaceBetween">
    <MudText Class="mb-4" Typo="Typo.h4">Artistas cadastros</MudText>
    <MudPagination Count="@totalPaginas" SelectedChanged="PaginaMudou">

    </MudPagination>
  </MudStack>

  @if (musicasPorPagina is not null)
  {
    <MudGrid>
      @foreach (var musica in musicasPorPagina)
      {
        <MudItem xs="3">
          <CardMusica Musica="musica" />
        </MudItem>
      }
    </MudGrid>
  }
</div>

@code {
  private ICollection<MusicaResponse>? Musicas;

  protected override async Task OnInitializedAsync()
  {
    Musicas = await musicaAPI.GetMusicasAsync();

    // Paginação
    if (Musicas is not null)
    {
      Musicas = Musicas.OrderByDescending(a => a.Id).ToList();
      totalItens = Musicas.Count();
      totalPaginas = Convert.ToInt32(Math.Ceiling((totalItens * 1.0) / tamanho));
      this.PaginaMudou(1);
    }
  }

  /* Paginação */
  private int tamanho = 8;
  private int totalItens;
  private int totalPaginas;
  private ICollection<MusicaResponse>? musicasPorPagina;

  private void PaginaMudou(int numeroDaPagina)
  {
    var indice = numeroDaPagina - 1;
    musicasPorPagina = Musicas!
          .Skip(tamanho * indice)
          .Take(tamanho)
          .ToList();
  }
}
